<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
    <style>
    	h1{
    		font-size: 50px;
    		font-family: "Courier New", Courier New, Monospace;
    		position:absolute;
    		top:50px;
    		left:50px;
    	}
    </style>
    </head>
    <body>
    	
        <h1> BillBlock</h1>
        <div class="bar">
        
        <a onclick="f1()"href="login.html">Log in</a>
    	
        <a onclick="f1()"href="signup.html">sign up</a>
    	
    	<
        <a onclick="f1()"href="request.html">request</a>
    
        <button onclick="return myFunction()" class="dropbtn">Category</button>
    	
    	</div>

		  <div id="myDropdown" class="dropdown-content">
		    <a href="request.html">Jobs</a>
		    <a href="request.html">Sales</a>
		    <a href="request.html">Losts & Founds</a>
		    <a href="homepage.html">News</a>
		    <a href="request.html">Others</a>
		  </div>

	<script>
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		    return false;
		}
		window.onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
	</script>
    </body>
</html>
