<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/homepage.css">
    </head>
    <body>
        <h1 id="NAME">BillBlock</h1>
        <a onclick="f1()"href="login.html" class="toolbar">Log in</a>
        <a onclick="" ="f1()"href="signup.html" class="toolbar">sign up</a>
        <button onclick="return myFunction()" class="dropbtn">Category</button>
		  <div id="myDropdown" class="dropdown-content">
		    <a href="request.html">request</a>
		    <a href="homepage.html">homepage</a>
		  </div>
	<script>
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		    return false;
		}
		window.onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
	</script>
    </body>
</html>
