<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
        <style> 
        input[type=text] {
            width: 30%;
            padding: 90px 75px;
            margin: 9px ;
            box-sizing: border-box;
            border: none;
            background-color: #3CBC8D;
            color: white;
            }
        </style>
    </head>
    <body>
    <form>
    	{% for j in jobs_posts %}
    	   <p>{{ j.category }}</p>
           <p>{{j.description }}</p>
           <label for="post"></label>
    	{% endfor %}  
    
   
</form>
</body>
   