<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    <style>
    </style>
    </head>
    <body>
    	<form>
    	<br>
        <br>
        <div class="login">
        <h2>Login:</h2>
        <input type="text" name="Log in" placeholder="Username">
    	<br>
        <br>
    	<input type="password" name="pwd" placeholder="Password">
        <br>
        <br>
        <input type="submit" value="Login">
        <br>
        <br>
        <a href="{{url_for('SignUp')}}">no account? sign up</a>
        
        </div>
    </form>
    </body>
</html>
