<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
    </head>
    <body>

    	<form method="post" action="/login">
    	<br>
        <br>
        <div class="login">
        <h2>Login:</h2>
        
        <input type="text" name="username" placeholder="Username">
    	<br>
        <br>
    	<input type="password" name="password" placeholder="Password">
        <br>
        <br>
        <input type="submit" value="Login">
        <br>
        <br>
        <a href="{{url_for('SignUp')}}">no account? sign up</a>
        <a href="{{url_for('frgt_pwd')}}">forgot password?</a>
        </div>
        
    </form>
    </body>
</html>
