<DOCTYPE! html>
<html>
<head>
	<title>A Post Request</title>
	<link rel="stylesheet" type="text/css" href="../static/style_new.css">

</head>
<body>

		<form method="post">
			<br>
			<br>
			<h3>Category:</h3>
			<input type="radio" name="cat" value="jobs">Jobs
			<input type="radio" name="cat" value="sales">Sales
			<input type="radio" name="cat" value="l&f">Losts&Founds
			<input type="radio" name="cat" value="news">News
			<input type="radio" name="cat" value="others">Others
			<br>
			<br>
			<br>
			<input type="submit" value="Submit">
			<div class="texta">
			<h3>Your Post:</h3>
			<textarea name="text" rows="20" cols="50">
			</textarea>
			</div>
		</form>

</body>
</html>
	
