<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
         <link rel="stylesheet" type="text/css" href="../static/style_new.css">
    </head>
    <body>
      {% if no_matches == True %}
      <div class="nothing">
        NO matches
      </div>
      
      {% endif %}
      
      <ul class="list">      
        {% for post in matches %}
        <div class="post">
        <li>{{post.description}}</li><br><br>

        </div>
        {% endfor %}
      </ul>
    </body>
    </html>