<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    	<form>
        <div class="signup">
        <br>
        <br>
    	<input type="text" name="First name" placeholder="First name">
        <br>
        <br>
    	<input type="text" name="Last name" placeholder="Last name">
    	<br>
        <br>
    	<input type="text" name="Log in" placeholder="Username">
    	<br>
        <br>
    	<input type="password" name="pwd" placeholder="Password">
    	<br>
        <br>
    	<input type="text" name="gmail" placeholder="Gmail">
    	<br>
        <br>
    	<div class="dropdown">
    		<button onclick="myFunction()" class="dropbtn">Dropdown</button>
    		<div id="myDropdown" class="dropdown-content">
    			<h4>my</h4>
    			<h4>name</h4>
    		</div>
    	</div>
        </div>
    	<script>
    		function myFunction() {
    			document.getElementById("myDropdown").classList.toggle("show");
}</script>

//window.onclick = function(event) {
  //if (!event.target.matches('.dropbtn')) {</script>
    </form>

    </body>
</html>
