<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/Dropdown.css">
    </head>
    <body>
    	<form>
        <br>
        <br>
        <div class="signup">
    	<input type="text" name="First name" placeholder="First name">
        <br>
        <br>
    	<input type="text" name="Last name" placeholder="Last name">
    	<br>
        <br>
    	<input type="text" name="Log in" placeholder="Username">
    	<br>
        <br>
    	<input type="password" name="pwd" placeholder="Password">
    	<br>
        <br>
    	<input type="text" name="gmail" placeholder="Gmail">
    	<br>
        <br>
        <br>
		<button onclick="return myFunction()" class="dropbtn">Neighborhood</button>
		  <div id="myDropdown" class="dropdown-content">
		    <a href="#haifa">Haifa</a>
		    <a href="#nazareth">Nazareth</a>
		    <a href="#jerusalem">Jerusalem</a>
		  </div>
		<br>
		<br>
        <br>
		<input type="submit" value="submit">
        <br>
        <br>
        </div>
	    </form>

    	<script>
		function myFunction() {

		    document.getElementById("myDropdown").classList.toggle("show");
		    return false;
		}

		
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {

		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
    		</script>
    </body>
</html>
