<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
    </head>
    <body>
    	<form method="post">
        <br>
        <br>
        <div class="signup">
    	<input type="text" name="name" placeholder="First name">
        <br>
        <br>
    	<input type="text" name="familyName" placeholder="Last name">
    	<br>
        <br>
    	<input type="text" name="user" placeholder="Username">
    	<br>
        <br>
    	<input type="password" name="password" placeholder="Password"> 
    	<br>
        <br>
    	<input type="text" name="mail" placeholder="Mail">
    	<br>
        <br>
        <br>
        <input type="radio" name="loc" value="Haifa">Haifa
        <input type="radio" name="loc" value="Nazareth">Nazarath
        <input type="radio" name="loc" value="Jerusalem">Jerusalem
		<br>
		<br>
        <br>
		<input type="submit" value="submit">
        <br>
        <br>
        </div>
	    </form>

    	<script>
		function myFunction() {

		    document.getElementById("myDropdown").classList.toggle("show");
		    return false;
		}

		
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {

		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
    		</script>
    </body>
</html>
